.site-header {
  background-color: #28a745; /* Green color */
  padding: 20px 0;
}

.site-title, .site-title:visited {
  color: white;
}

.site-nav .page-link {
  color: white;
}

.site-nav .page-link:hover {
  color: #d4edda;
}

